{% extends 'base.html.twig' %}

{% block title %}Liste Sous-Catégories{% endblock %}

{% block contenu %}
    <h1>Liste des Sous-Catégories</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Catégories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_categorie in sous_categories %}
            <tr>
                <td>{{ sous_categorie.id }}</td>
                <td>{{ sous_categorie.nom }}</td>
                <td>{{ sous_categorie.categories.nom }}</td>
                <td>
                    <a href="{{ path('app_sous_categorie_show', {'id': sous_categorie.id}) }}"class ="btn btn-primary" >Voir</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de Sous-Catégories Trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sous_categorie_new') }}" class ="btn btn-primary">Créer une Nouvelle Sous-Catégorie</a>
{% endblock %}

