{% extends 'base.html.twig' %}

{% block title %}Liste des Sous Categories
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}

{% block contenu %}
	<div class="container">
		<br/>
		<h1>Liste des sous categorie</h1>
		<br/>
		<div class="table">

			<div class="table-wrapper">


				<table class="table table-hover">
					<a href="{{ path('app_sous_categorie_new') }}" class="btn btn-primary">Créer</a>
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class='tableauxR'>
						{% for sous_categorie in sous_categories %}

							<tr>
								<td>{{ sous_categorie.id }}</td>
								<td>{{ sous_categorie.nom }}</td>
								<td>
									<a href="{{ path('app_sous_categorie_show', {'id': sous_categorie.id}) }}" class="btn btn-primary">Voir</a>
									<a href="{{ path('app_sous_categorie_edit', {'id': sous_categorie.id}) }}" class="btn btn-primary">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="10">no records found</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>
{% endblock %}

