{% extends 'base.html.twig' %}

{% block title %}SousCategorie
{% endblock %}

{% block contenu %}
	<div class="container">
		<br/>
		<h1>Sous catégorie</h1>
		<table class=" d-flex justify-content-center">
			<a href="{{ path('app_sous_categorie_index') }}" class="btn btn-primary">Retour liste</a>
			<br/>
			<br/>
			<div class=" d-flex justify-content-center">
				<div class="card " style="width: 25rem;">
					<div class="card-body">
						<center class="m-t-30 d-flex justify-content-center">

							<h1>

								{{ sous_categorie.nom }}
							</h1>
						</center>
					</div>
					<div><hr></div>
					<div class="card-body">
						<small class="text-muted">Id</small>
						<h6>{{ sous_categorie.id }}</h6>
					</div>
					<div><hr></div>
					<div class="card-body">
						<center class="m-t-30 d-flex justify-content-center">
							<a href="{{ path('app_sous_categorie_edit', {'id': sous_categorie.id}) }}" class="btn btn-primary">Modifier</a>
							&nbsp
							{{ include('sous_categorie/_delete_form.html.twig') }}

						</center>
					</div>

				</div>
			</div>
		</table>
	</div>
{% endblock %}
