{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block style %}
	<style></style>
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace {{ app.user.userIdentifier }} !
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Logout</a>
		{% endif %}
	</div>
{% endblock %}

{% block contenu %}
	<div class="container">
		<h1>Liste des produits</h1>

		<table class="d-flex justify-content-center row ">

			<a href="{{ path('app_produit_new') }}" class="btn btn-primary ">+</a>

			{% for produit in produits %}
				<br/>
				<tbody class="card mb-2" style="width: 18rem;">

					<tr class="d-flex justify-content-center mb-2">
						<th>
							{{ produit.marque }}
							
						</th>

						<td>{{ produit.modele }}</td>
					</tr>
					<tr class="d-flex justify-content-center mb-2">
						<td>
							<a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-primary ">voir</a>
						</td>
						<td>
							<a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-primary ">modifier</a>
						</td>

					</tr>

				</tbody>


			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}

		</table>

	</div>
{% endblock %}
