{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}

	<div class="container">
		<br/>
		<h1>Liste des produits</h1>
		<br/>
		<div class="table">

			<div class="table-wrapper">


				<table class="table table-hover">
					<a href="{{ path('app_produit_new') }}" class="btn btn-primary">Créer</a>
					<thead>
						<tr>
							<th>Id</th>
							<th>marque</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody class='tableauxR'>
						{% for produit in produits %}

							<tr>
								<td>{{ produit.id }}</td>
								<td>{{ produit.marque }}</td>
								<td>
									<a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-primary">Voir</a>
									<a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-primary">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="10">no records found</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>

{% endblock %}
