{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}

	<div class="container">
		<br/>
		<h1>Liste des produits</h1>
		<br/>
		<div class="table">

			<div class="table-wrapper">


    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Categories</th>
                <th>Sous-Categories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.marque.nom }}</td>
                <td>{{ produit.modele }}</td>
                
                <td>{{ produit.sousCategories.categories.nom }}</td>
                <td>{{ produit.sousCategories.nom }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de Produits Trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

			</div>
		</div>
	</div>

{% endblock %}
