{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block style %}
	<style></style>
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}


			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			{# <div class="dropdown show">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Marques
				</a>

				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="#">...</a>
					<a class="dropdown-item" href="#">...</a>
					<a class="dropdown-item" href="#">...</a>
				</div>
			</div> #}
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Logout</a>
		{% endif %}
	</div>
{% endblock %}

{% block contenu %}
    <h1>Produit index</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                
                <th>Categories</th>
                <th>Sous-Categories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.marque }}</td>
                
                <td>{{ produit.sousCategories.categories.nom }}</td>
                <td>{{ produit.sousCategories.nom }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
