{% extends 'base.html.twig' %}

{% block title %}Liste Produits{% endblock %}

{% block contenu %}
    <h1>Liste des Produits</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Catégories</th>
                <th>Sous-Catégories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.marque }}</td>
                
                <td>{{ produit.sousCategories.categories.nom }}</td>
                <td>{{ produit.sousCategories.nom }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class = "btn btn-primary">Voir</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class = "btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de Produits Trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Créer un Nouveau Produit</a>
{% endblock %}
