{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Logout</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}
	<div clas="container">
		<h1>Liste des produits</h1>

		<table class="d-flex justify-content-center row ">

			<a href="{{ path('app_produit_new') }}" class="btn btn-primary ">Créer</a>


			{% for produit in produits %}
				<tbody class="card mb-2" style="width: 18rem;">
					<tr class="d-flex justify-content-center mb-2 text-center">
						<td>{{ produit.id }}.
							{{ produit.sousCategories.nom }}
							{{ produit.marque }}
							<br/>
							{{ produit.sousCategories.categories.nom }}
						</td>
					</tr>
					<tr class="d-flex justify-content-center mb-2">
						<td>
							<a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-primary">Voir</a>
						</td>
						<td>
							<a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-primary">Modifier</a>
						</td>
					</tr>

				{% else %}
					<tr>
						<td colspan="4">Aucune donnée trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
