{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}


{% block contenu %}
	<div class="container">
		<h1>Produit</h1>

		<table class="d-flex justify-content-center ">
			<a href="{{ path('app_produit_index') }}" class="btn btn-primary ">back to list</a>
			<br/>
			<br/>
			<tbody class="card mb-2" style="width: 18rem;">

				<tr class="d-flex justify-content-center mb-2">
					<th>{{ produit.marque }}</th>
				</tr>
				<br/>
				<tr class="d-flex justify-content-center mb-2">
					<td>{{ produit.modele }}</td><tr/>
				</tr>
				<tr class="d-flex justify-content-center mb-2">
					<td>
						<a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-primary ">edit</a>
					</td>

					<td>
						{{ include('produit/_delete_form.html.twig') }}
					</td>
				</tr>


			</tbody>


		</table>
	</div>


{% endblock %}
