<br>
<div class="pseudo-container">
	{{ form_start(form) }}
	{{ form_row(form.nom) }}
	{{ form_row(form.image) }}
	<button class="btn btn-primary" id='sauvegarder'>{{ button_label|default('Sauvegarder') }}</button>
	{{ form_end(form) }}

</div>
