{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block style %}
	<style>
<<<<<<< HEAD
<<<<<<< HEAD
    h5{
        
        text-align:center;
    }
    h1{
        color:#007bff;
        text-align:center;
    }
    .image{
        height:50%;
        width:50%;
    }
    .option{
        height:100%;
        width:100%;
    }
    #btn-cat{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 15px;
    border: 0px solid #3c14ca;
    border-radius: 30px;
    background: #007bff;
    }
    </style>
=======
=======
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128
		.image {
			height: 40%;
			width: 40%;
		}
		.option {
			height: 100%;
			width: 100%;
		}
		#btn-cat {
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			padding: 6px 15px;
			border: 0 solid #3c14ca;
			border-radius: 30px;
			background: #007bff;
		}
		.trr {

			transition: all 0.2s ease-in-out;
			cursor: pointer;

		}
		.trr:hover {

			transform: scale(1.02);
		}
	</style>
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
<<<<<<< HEAD
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128
=======
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128
{% endblock %}


<<<<<<< HEAD
<<<<<<< HEAD
{% block contenu %}
<br>
	<h1>CATÉGORIES</h1><br>
=======
=======
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128
	<div class="container">
		<br/>
		<h1>Liste des catégories</h1>
		<br/>
		<div class="table">
			<div class="d-flex justify-content-between">
				<a href="{{ path('app_categories_new') }}" class="btn btn-primary">Créer</a>
				<input id='searchBar' type="text" placeholder="Recherche par id ou client" class="searchBar form-control w-25">
			</div>
			<div class="table-wrapper">
<<<<<<< HEAD
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128


<<<<<<< HEAD
<div class="col-12 col-md-6 col-lg-4 col-xl-3 ">
<div class="card border-dark mb-3 mx-auto " id="options">

{# route pour allez sur la sous-categorie  #}
 <a href= "{{ path('app_sous_categorie_index') }}">
    <div class='card-header text-center'>
    <img src="/uploads/images/{{category.image}}" class='image' alt="Card image cap">
    </div>

    <div class="card-body">
      <h5 class="card-title">{{category.nom}}</h5>
</div>

</a>
 <a class='btn btn-primary' href="{{ path('app_categories_show', {'id': category.id}) }}">Voir</a>
=======
				<table class="table table-hover">

>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128

					<thead>
						<tr>
							<th>Id</th>
							<th></th>
							<th>Nom</th>

=======


				<table class="table table-hover">


					<thead>
						<tr>
							<th>Id</th>
							<th></th>
							<th>Nom</th>

>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128
						</tr>
					</thead>
					<tbody class='tableauxR'>
						{% for category in categories %}

							<tr class="trr" href="{{ path('app_categories_show', {'id': category.id}) }}">
								<td>
									<div class="card-body">
										<h5 class="card-title">{{category.id}}</h5>
									</div>
								</td>
								<td>
									<div class='card-header text-center'>
										<img src="/uploads/images/{{category.image}}" class='image' style="width:20px;" alt="Card image cap">
									</div>
								</td>
								<td>
									<div class="card-body">
										<h5 class="card-title">{{category.nom}}</h5>
									</div>
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="10">no records found</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>
	<script>

		$(document).ready(function () {
$('table tr').click(function () {
window.location = $(this).attr('href');
return false;
});
});
	</script>
{% endblock %}
