{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block contenu %}
	<div class="container">
		<br/>
		<h1>Categorie</h1>


		<table class=" d-flex justify-content-center">
			<a class='btn btn-primary' href="{{ path('app_categories_index', {'id': category.id}) }}">Retour Liste</a>
			<br/>
			<br/>
			<div class=" d-flex justify-content-center">
				<div class="card " style="width: 25rem;">

					<div class="card-body">
						<center class="m-t-30">
							<img src="/uploads/images/{{category.image}}" class='image' style="width:200px;" alt="Card image cap">
						</center>
					</div>
					<div><hr></div>
					<div class="card-body">
						<small class="text-muted">Id</small>
						<h6>{{ category.id }}</h6>
						<small class="text-muted">Nom</small>
						<h6>{{ category.nom }}</h6>
					</div>
					<div><hr></div>
					<div class="card-body">
						<center class="m-t-30 d-flex justify-content-center">
							<a class='btn btn-primary' href="{{ path('app_categories_edit', {'id': category.id}) }}">Modifier</a><br>
							&nbsp
							{{ include('categories/_delete_form.html.twig') }}
						</center>
					</div>

				</div>
			</div>
		</table>
	</div>
{% endblock %}
