{% extends 'base.html.twig' %}

{% block title %}Modification Client
{% endblock %}

<<<<<<< HEAD
<<<<<<< HEAD
{% block style %}
	<style></style>
{% endblock %}

=======
=======
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128

{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128


{% block contenu %}
	<div class="container">
		<br/>
		<h1>Modification Client</h1>
		<br/>
		<a href="{{ path('app_client_index') }}" class="btn btn-primary">Retour liste</a>
		<br/>
		<br/>
		<td>
			<div class="text-center">
				{{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
				<br>
				{{ include('client/_delete_form.html.twig') }}
			</div>
		</td>
	</div>
{% endblock %}
