{% extends 'base.html.twig' %}

{% block title %}Modification Client
{% endblock %}

{% block style %}
	<style></style>
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}


{% block contenu %}
	<div class="container">
		<h1>Modification Client</h1>
		<a href="{{ path('app_client_index') }}" class="btn btn-primary">Retour liste</a>
		<tbody class="d-flex justify-content-center ">

			{{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
			<br>
			{{ include('client/_delete_form.html.twig') }}
		</tbody>
	</div>
{% endblock %}
