{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block style %}
	<style></style>
{% endblock %}




{% block contenu %}
	<h1>Client index</h1>

	<table class="table table-secondary table-striped">
		<input id='searchBar' type="text" placeholder="Recherche par id ou client" class="searchBar form-control">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Adresse</th>
				<th>Cp</th>
				<th>Ville</th>
				<th>Telephone</th>
				<th>Email</th>
				<th>RaisonSociale</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody class='tableauxR'>
			{% for client in clients %}
			
				<tr>
					<td>{{ client.id }}</td>
					<td>{{ client.nom }}</td>
					<td>{{ client.prenom }}</td>
					<td>{{ client.adresse }}</td>
					<td>{{ client.cp }}</td>
					<td>{{ client.ville }}</td>
					<td>{{ client.telephone }}</td>
					<td>{{ client.email }}</td>
					<td>{{ client.raisonSociale }}</td>
					<td>
						<a href="{{ path('app_client_show', {'id': client.id}) }}" class="btn btn-primary">show</a>
						<a href="{{ path('app_client_edit', {'id': client.id}) }}"class="btn btn-primary">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
				</tbody>
			{% endfor %}
		
	</table>

	<a href="{{ path('app_client_new') }}">Create new</a>
<tbody class="resultat row"></tbody>
	<script>

		$(document).ready(function () {
$("#searchBar").keyup(function (e) {
e.preventDefault();
e.stopPropagation();

let input = $("#searchBar").val();


$.ajax({
url: "https://127.0.0.1:8000/ajax/listeClient",
type: 'GET',

success: function (response) {
console.log(response);
let liste = "";

$.each(response, function (index, value) { // J'ajoute chaque élément dans une liste
if (input == value.nom.substr(-20, 3) || input == value.telephone.substr(-20, 3)) {
liste +=

'<tr>'+
'<td>'+ value.id +'</td>'+'<td>'+ value.nom+'</td>'+'<td>'+ value.prenom +'</td>'+'<td>'+ value.adresse +'</td>'+
'<td>'+ value.cp +'</td>'+'<td>'+value.ville +'</td>'+'<td>'+value.telephone +'</td>'+'<td>'+ value.email +'</td>'+
'<tr/>'

}
});
$('.tableauxR').html(liste);

},

error: function (response) {
console.log(error)
}
});
});
});
	</script>
{% endblock %}
