{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block style %}
	<style>
		.trr {

			transition: all 0.2s ease-in-out;
			cursor: pointer;

		}
		.trr:hover {

			transform: scale(1.02);
		}
	</style>
{% endblock %}

<<<<<<< HEAD

=======
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
>>>>>>> ee555721e6b1257220d2573297cdbfd69095a128


{% block contenu %}
	<div class="container">
		<br/>
		<h1>Liste des clients</h1>
		<br/>
		<div class="table">
			<div class="d-flex justify-content-between">
				<a href="{{ path('app_client_new') }}" class="btn btn-primary">Créer</a>
				<input id='searchBar' type="text" placeholder="Recherche par id ou client" class="searchBar form-control w-25">
			</div>

			<div class="table-wrapper">


				<table class="table table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Adresse</th>
							<th>Cp</th>
							<th>Ville</th>
							<th>Telephone</th>
							<th>Email</th>
							<th>RaisonSociale</th>

						</tr>
					</thead>
					<tbody class='tableauxR'>
						{% for client in clients %}

							<tr class="trr" href="{{ path('app_client_show', {'id': client.id}) }}">
								<td>{{ client.id }}</td>
								<td>{{ client.nom }}</td>
								<td>{{ client.prenom }}</td>
								<td>{{ client.adresse }}</td>
								<td>{{ client.cp }}</td>
								<td>{{ client.ville }}</td>
								<td>{{ client.telephone }}</td>
								<td>{{ client.email }}</td>
								<td>{{ client.raisonSociale }}</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="10">no records found</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>


	<tbody class="resultat row"></tbody>
	<script>


		$(document).ready(function () {
$('table tr').click(function () {
window.location = $(this).attr('href');
return false;
});
});


$(document).ready(function () {
$("#searchBar").keyup(function (e) {
e.preventDefault();
e.stopPropagation();

let input = $("#searchBar").val();


$.ajax({
url: "https://127.0.0.1:8000/ajax/listeClients",
type: 'GET',

success: function (response) {
console.log(response);
let liste = "";

$.each(response, function (index, value) { // J'ajoute chaque élément dans une liste
if (input.toLowerCase() == value.nom.toLowerCase() || input.toLowerCase() == value.nom.substr(-20, 3) || input.toLowerCase() == value.nom.substr(-20, 4) || input.toLowerCase() == value.nom.substr(-20, 5) || input.toLowerCase() == value.nom.substr(-20, 6) || input.toLowerCase() == value.telephone.substr(-20, 3) || input.toLowerCase() == value.telephone.substr(-20, 4) || input.toLowerCase() == value.telephone.substr(-20, 5) || input.toLowerCase() == value.telephone.substr(-20, 6) || input.toLowerCase() == value.nom || input.toLowerCase() == value.telephone) {
liste += '<tr class="trr"> ' + '<td>' + value.id + '</td>' + '<td>' + value.nom + '</td>' + '<td>' + value.prenom + '</td>' + '<td>' + value.adresse + '</td>' + '<td>' + value.cp + '</td>' + '<td>' + value.ville + '</td>' + '<td>' + value.telephone + '</td>' + '<td>' + value.email + '</td>' + '<td>' + value.raisonSociale + '</td>' + '<td>' + '<a class="btn btn-primary" href=https://localhost:8000/client/' + value.id + ">" + " VOIR " + '</td>' + '</tr>'

}
});
$('.tableauxR').html(liste);

},

error: function (response) {
console.log(error)
}
});
});
});
	</script>
{% endblock %}
