{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block style %}
	<style>
		.trr {

			transition: all .2s ease-in-out;
			cursor: pointer;

		}
		.trr:hover {

			transform: scale(1.02);
		}
	</style>
{% endblock %}

{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Logout</a>
		{% endif %}
	</div>
{% endblock %}


{% block contenu %}
	<h1>Client index</h1>

	<table class="table table-secondary table-striped">
		<input id='searchBar' type="text" placeholder="Recherche par id ou client" class="searchBar form-control">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Adresse</th>
				<th>Cp</th>
				<th>Ville</th>
				<th>Telephone</th>
				<th>Email</th>
				<th>RaisonSociale</th>
				
			</tr>
		</thead>
		<tbody class='tableauxR'>
			{% for client in clients %}
				<div>

					<tr class="trr" href="{{ path('app_client_show', {'id': client.id}) }}">


						<td>{{ client.id }}</td>
						<td>{{ client.nom }}</td>
						<td>{{ client.prenom }}</td>
						<td>{{ client.adresse }}</td>
						<td>{{ client.cp }}</td>
						<td>{{ client.ville }}</td>
						<td>{{ client.telephone }}</td>
						<td>{{ client.email }}</td>
						<td>{{ client.raisonSociale }}</td>
						

					</tr>

				</div>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			</tbody>
		{% endfor %}

	</table>

	<a href="{{ path('app_client_new') }}">Create new</a>
	<tbody class="resultat row"></tbody>
	<script>


		$(document).ready(function () {
$('table tr').click(function () {
window.location = $(this).attr('href');
return false;
});
});


$(document).ready(function () {
$("#searchBar").keyup(function (e) {
e.preventDefault();
e.stopPropagation();

let input = $("#searchBar").val();


$.ajax({
url: "https://127.0.0.1:8000/ajax/listeClients",
type: 'GET',

success: function (response) {
console.log(response);
let liste = "";

$.each(response, function (index, value) { // J'ajoute chaque élément dans une liste
if (input == value.nom.substr(-20, 3) || input == value.telephone.substr(-20, 3)) {
liste += '<tr class="trr" >' + '<td>' + value.id + '</td>' + '<td>' + value.nom + '</td>' + '<td>' + value.prenom + '</td>' + '<td>' + value.adresse + '</td>' + '<td>' + value.cp + '</td>' + '<td>' + value.ville + '</td>' + '<td>' + value.telephone + '</td>' + '<td>' + value.email + '</td>' + '<td>' + value.raisonSociale + '</td>' + '<td>' + "<a href=https://localhost:8000/client/" + value.id + "'>" + " VOIR " + '</a>' + '</td>' + '<tr/>'

}
});
$('.tableauxR').html(liste);

},

error: function (response) {
console.log(error)
}
});
});
});
	</script>
{% endblock %}
