{% extends 'base.html.twig' %}

{% block title %}Liste Tickets{% endblock %}

{% block style %}
	<style>
		.trr {

			transition: all .2s ease-in-out;
			cursor: pointer;

		}
		.trr:hover {

			transform: scale(1.02);
		}
	</style>
{% endblock %}

{% block contenu %}
    <h1>Tickets En Cours</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>               
                <th>Rapport</th>
                <th>Date de Modification</th>
                <th>ID Ticket</th>
                {# <th>Voir</th>
                <th>Action</th> #}
            </tr>
        </thead>
        <tbody>
        {% for update in update %}
            {% if update.statut == 'EN COURS' %}
                <div>
                    <tr class="trr" href="{{ path('app_tickets_show', {'id': update.id}) }}">
                        <td>{{ update.id }}</td>
                        <td>{{ update.statut }}</td>
                        <td>{{ update.rapport|default("") }}</td>
                        <td>{{ update.updatedAt ? update.updatedAt|date('Y-m-d') : '' }}</td>
                        <td>{{ update.ticket.id|default("") }}</td>
                    </tr>
                </div>
            {% endif %}   
            
            {% else %}
                <tr>
                    <td colspan="8">Pas de ticket trouvé</td>
                </tr>
        {% endfor %}
        
        </tbody>
    </table>

    <a  href="{{ path('app_tickets_index') }}" class="btn btn-primary">Retour Liste</a>
    <a  href="" class="btn btn-success">Résolus</a>
    <a  href="" class="btn btn-danger">Clos</a>

    <script>

            $(document).ready(function () {
    $('table tr').click(function () {
    window.location = $(this).attr('href');
    return false;
    });
    });

    </script>
{% endblock %}

