{% extends 'base.html.twig' %}

{% block title %}Liste Marques
{% endblock %}
{% block style %}
	<style>
		.trr {

			transition: all 0.2s ease-in-out;
			cursor: pointer;

		}
		.trr:hover {

			transform: scale(1.02);
		}
	</style>
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}
	<div class="container">
		<br/>
		<h1>Liste des Marques</h1>
		<div class="table">
			<br/><a class="btn btn-primary" href="{{ path('app_marque_new') }}">Créer</a>
			<br/>
			<div class="table-wrapper">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom</th>

						</tr>
					</thead>
					<tbody>
						{% for marque in marques %}
							<tr class="trr" href="{{ path('app_marque_show', {'id': marque.id}) }}">
								<td>{{ marque.id }}</td>
								<td>{{ marque.nom }}</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="3">Pas de Marque Trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<script>

    <a href="{{ path('app_marque_new') }}">Créer une Nouvelle Marque</a>
{% endblock %}
