{% extends 'base.html.twig' %}

{% block title %}Liste Marque{% endblock %}

{% block contenu %}
    <h1>Liste des Marques</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.id }}</td>
                <td>{{ marque.nom }}</td>
                <td>
                    <a href="{{ path('app_marque_show', {'id': marque.id}) }}" class=" btn btn-primary">Voir</a>
                    <a href="{{ path('app_marque_edit', {'id': marque.id}) }}" class=" btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de Marque Trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_marque_new') }}">Créer une Nouvelle Marque</a>
{% endblock %}
