{% extends 'base.html.twig' %}

{% block title %}Tickets index{% endblock %}

{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Logout</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}
    <h1>Tickets index</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                
                <th>Statut</th>
                <th>Description</th>
                <th>L'etat</th>
                <th>Date de creation</th>
                <th>Date Modif</th>
                <th>Rapport</th>
                <th>Nom du client</th>
                <th>Produit</th>
                <th>Sous - categories</th>
                <th>Employé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                
                <td>{{ ticket.statut }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.etat }}</td>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.rapport }}</td>
                <td>{{ ticket.clients.nom}}</td>
                <td>{{ ticket.modele}}</td>
                <td>{{ ticket.produits.sousCategories.nom}}</td>
                <td>{{ ticket.user.nom}}</td>
                <td>
                    <a href="{{ path('app_tickets_show', {'id': ticket.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_tickets_edit', {'id': ticket.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tickets_new') }}" class="btn btn-primary">Créer</a>
{% endblock %}

