{% extends 'base.html.twig' %}

{% block title %}Liste Tickets{% endblock %}

{% block style %}
	<style>
		.trr {

			transition: all .2s ease-in-out;
			cursor: pointer;

		}
		.trr:hover {

			transform: scale(1.02);
		}
	</style>
{% endblock %}

{% block contenu %}
    <h1>Nouveaux Tickets</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>                
                <th>Statut</th>
                <th>Description</th>
                <th>État du Produit</th>
                {# <th>Rapport</th> #}
                <th>Date de Création</th>
                {# <th>Date de Modification</th> #}
                <th>Client</th>
                <th>Catégories</th>
                <th>Sous-Catégories</th>
                <th>Produit</th>
                <th>Employé</th>
                {# <th>Voir</th>
                <th>Action</th> #}
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            {% if ticket.statut == 'NOUVEAU' %}
            <div>
                <tr class="trr" href="{{ path('app_tickets_show', {'id': ticket.id}) }}">
                        
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.statut }}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.etat }}</td>
                        {# <td>{{ ticket.rapport|default("") }}</td> #}
                        <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d') : '' }}</td>
                        {# <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d') : '' }}</td> #}
                        <td>{{ ticket.clients.nom|default("")}}</td>
                        <td>{{ ticket.produits.modele|default("")}}</td>
                        <td>{{ ticket.produits.sousCategories.categories.nom|default("")}}</td>
                        <td>{{ ticket.produits.sousCategories.nom|default("")}}</td>
                        <td>{{ ticket.user.nom|default("")}}</td>
                </tr>

                    {# <a  href="{{ path('app_tickets_show', {'id': ticket.id}) }}" class ="btn btn-primary">Voir</a> #}
            </div>
            {% endif %}   
                    
        {% else %}
            <tr>
                <td colspan="8">Pas de ticket trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  href="{{ path('app_tickets_new') }}" class="btn btn-primary">Créer un Nouveau Ticket</a>
    <a  href="{{ path('app_update_new') }}" class="btn btn-warning">En Cours</a>
    <a  href="" class="btn btn-success">Résolus</a>
    <a  href="" class="btn btn-danger">Clos</a>

    <script>

            $(document).ready(function () {
    $('table tr').click(function () {
    window.location = $(this).attr('href');
    return false;
    });
    });

    </script>
{% endblock %}

