{% extends 'base.html.twig' %}

{% block title %}Liste Tickets{% endblock %}

{% block contenu %}
    <h1>Liste Tickets</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                
                <th>Statut</th>
                <th>Description</th>
                <th>L'etat</th>
                <th>Date de creation</th>
                <th>Date Modif</th>
               
                <th>Nom du client</th>
                <th>Produit</th>
                <th>Sous - categories</th>
                <th>Employé</th>
                <th>Voir</th>
                
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                
                <td>{{ ticket.statut }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.etat }}</td>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d') : '' }}</td>
                
                <td>{{ ticket.clients.nom}}</td>
                <td>{{ ticket.produits.marque.nom|default("")}}</td>
                <td>{{ ticket.produits.sousCategories.nom|default("")}}</td>
                <td>{{ ticket.user.nom}}</td>
                <td>
                    <a href="{{ path('app_tickets_show', {'id': ticket.id}) }}">Voir</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de tickets trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_tickets_new') }}">Creer un nouveau ticket</a>
{% endblock %}

