{% extends 'base.html.twig' %}

{% block title %}Liste Tickets{% endblock %}

{% block contenu %}
    <h1>Liste Tickets</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                
                <th>Statut</th>
                <th>Description</th>
                <th>État du Produit</th>
                <th>Date de Création</th>
                <th>Date de Modification</th>
                <th>Rapport</th>
                <th>Nom du client</th>
                <th>Produit</th>
                <th>Sous-Catégories</th>
                <th>Employé</th>
                
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                
                <td>{{ ticket.statut }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.etat }}</td>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.rapport }}</td>
                <td>{{ ticket.clients.nom}}</td>
                <td>{{ ticket.modele}}</td>
                <td>{{ ticket.produits.sousCategories.nom}}</td>
                <td>{{ ticket.user}}</td>
                {# <td>{{ ticket.user.nom}}</td> #}
                <td>
                    <a  href="{{ path('app_tickets_show', {'id': ticket.id}) }}" class ="btn btn-primary">Voir</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de ticket trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_tickets_new') }}">Créer un Nouveau Ticket</a>
{% endblock %}

