{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateurs
{% endblock %}

{% block style %}
	<style>
		.trr {

			transition: all 0.2s ease-in-out;
			cursor: pointer;

		}
		.trr:hover {

			transform: scale(1.02);
		}
	</style>
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}
    <h1>Liste des Utilisateurs</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Rôles</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.roles[0] ? user.roles[0]|json_encode : '' }}</td>
                
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class ="btn btn-primary">Voir</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'Utilisateur Trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

			</div>
		</div>
	</div>
	<script>

		$(document).ready(function () {
$('table tr').click(function () {
window.location = $(this).attr('href');
return false;
});
});
	</script>
{% endblock %}
