{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateurs{% endblock %}

{% block style %}
    <style>
        .btn{
            margin: 0.1%;

        }
    </style>
{% endblock %}

{% block contenu %}


	<div class="container">
		<br/>
		<h1>Liste des Employés</h1>
		<br/>
		<div class="table">

			<div class="table-wrapper">


				<table class="table table-hover">
					<a href="{{ path('app_user_new') }}" class="btn btn-primary">Créer</a>
					<br/>
					<thead>
						<tr>
							<th>Id</th>
							<th>Login</th>
							<th>Role</th>
							<th>Nom</th>
							<th>Prenom</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody class='tableauxR'>
						{% for user in users %}

							<tr>
								<td>{{ user.id }}</td>
								<td>{{ user.login }}</td>
								<td>{{ user.roles[0] ? user.roles[0]|json_encode : '' }}</td>

								<td>{{ user.nom }}</td>
								<td>{{ user.prenom }}</td>
								<td>
									<a class="btn btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
									<a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="10">Aucune donnée trouvée</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>
{% endblock %}
