{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateurs
{% endblock %}

{% block style %}
	<style>
		.trr {

			transition: all 0.2s ease-in-out;
			cursor: pointer;

		}
		.trr:hover {

			transform: scale(1.02);
		}
	</style>
{% endblock %}
{% block navbarTop %}
	<div class="logOut d-flex justify-content-around">
		{% if app.user %}
			bienvenue sur votre espace
			{{ app.user.userIdentifier }}
			!
			<a href="{{ path('app_logout') }}" class="btn btn-light ">Deconnexion</a>
		{% endif %}
	</div>
{% endblock %}
{% block contenu %}


	<div class="container">
		<br/>
		<h1>Liste des Employés</h1>
		<br/>
		<div class="table">

			<div class="table-wrapper">


				<table class="table table-hover">
					<a href="{{ path('app_user_new') }}" class="btn btn-primary">Créer</a>
					<br/>
					<thead>
						<tr>
							<th>Id</th>
							<th>Login</th>
							<th>Role</th>
							<th>Nom</th>
							<th>Prenom</th>

						</tr>
					</thead>
					<tbody class='tableauxR'>
						{% for user in users %}

							<tr class="trr" href="{{ path('app_user_show', {'id': user.id}) }}">
								<td>{{ user.id }}</td>
								<td>{{ user.login }}</td>
								<td>{{ user.roles[0] ? user.roles[0]|json_encode : '' }}</td>

								<td>{{ user.nom }}</td>
								<td>{{ user.prenom }}</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="10">Aucune donnée trouvée</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>
	<script>

		$(document).ready(function () {
$('table tr').click(function () {
window.location = $(this).attr('href');
return false;
});
});
	</script>
{% endblock %}
