{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateurs{% endblock %}

{% block contenu %}
    <h1>Liste des Utilisateurs</h1>

    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Rôles</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.roles[0] ? user.roles[0]|json_encode : '' }}</td>
                
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class ="btn btn-primary">Voir</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class ="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'Utilisateur Trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  href="{{ path('app_user_new') }}" class ="btn btn-primary">Créer un Nouvel Utilisateur</a>
{% endblock %}
