{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block contenu %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
          
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}" class ="btn btn-primary">Retour Liste</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class ="btn btn-primary">Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
